/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.bodyy{
  /* display: flex; */
  width: 100vh;
  margin-top: 20vh;
  margin-left: 55vh;
  display:grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(255, 255, 255);
  color: white;
  border-radius: 50px;
}

.text-input{
  background-color: white;
}

*{
  /* display: flex;
  display:grid; */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* border: 2px solid green; */
  background-color: rgb(0, 0, 0);
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.title{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.main-box{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.text-input{
  width: 500px;
  border-radius: 20px;
  height: 50px;
}

.btn{
  margin-left: 2px;
  background-color: lightblue;
  border-color: black;
  border-radius: 20px;
  cursor: pointer;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  /* border: 2px solid red; */
}

.options-name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.len-lable{
  /* display: flex; */
  margin: 5px;
  padding: 5px;
  /* border: 2px solid red; */
}

.check-box{
  display: flex;
  justify-content: center;
  align-items: center;
}